[Desktop Entry]
Version=0.17.6
Name=Kalycoin Core Testnet
Comment=Connect to the Kalycoin P2P Network Testnet
Exec=kalycoin-qt -testnet %u
Terminal=false
Type=Application
Icon=kalycointestnet128
MimeType=x-scheme-handler/kalycoin;
Categories=Network;
StartupWMClass=Kalycoin-qt-testnet
Name[en_US]=kalycoin-qt-testnet
