/*-------------------------------------------- 
Tool Button Black CSS
--------------------------------------------*/
QToolButton {
    color: #ffffff;
    background: transparent;
    border: 0px solid transparent;
    border-radius: 0px;
    padding: 10px;
}
QToolButton:checked {
    border-right: 3px solid #98700b;
}
QToolButton:pressed, QToolButton:hover:pressed, QToolButton:checked {
    color: #ffffff;
    background: #a57a0e;
}
QToolButton:hover:!checked {
    color: #ffffff;
    background: #f1be3b;
}
QToolButton:disabled {
    color: rgba(255, 255, 255, 20%);
}
